<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canteen.app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.canteen.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="com.canteen.app.activity.common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.canteen.app.activity.common.LoginActivity" />
        <activity android:name="com.canteen.app.activity.common.RegisterActivity" />
        <activity android:name=".activity.client.menu.list.MenuListsActivity" />
        <activity android:name=".activity.administration.deletion.AddDishActivity"/>
        <activity android:name=".activity.client.menu.details.MenuDetailsActivity" />
        <activity android:name=".activity.client.details.FoodDetailsActivity" />
        <activity android:name="com.canteen.app.activity.administration.dashboard.AdminDashboardActivity" />
        <activity android:name="com.canteen.app.activity.administration.order.details.OrderDetailsAdminActivity" />
        <activity android:name="com.canteen.app.activity.administration.order.list.OrdersListActivity" />
        <activity android:name=".activity.client.cart.OrderCartActivity" />
        <activity android:name="com.canteen.app.activity.administration.menu.list.MenusListManagementActivity" />
        <activity android:name="com.canteen.app.activity.administration.menu.list.AddMenuActivity" />
        <activity android:name="com.canteen.app.activity.administration.menu.list.list.FoodListActivityAdmin" />
        <activity android:name=".activity.client.details.FoodDetailsActivityAdmin" />
    </application>

</manifest>